<!--Layouts is modified from Modernist (https://github.com/pages-themes/modernist/blob/master/_layouts/default.html).-->

<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        options: {
          skipHtmlTags: [            //  HTML tags that won't be searched for math
            'script', 'noscript', 'style', 'textarea', 'pre',
            'code', 'annotation', 'annotation-xml'
          ]
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <p class="view"><a href="{{ site.github.repository_url }}">🧭 Back to home page</a></p>
        <ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Go To <strong>☕ About</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Go To <strong>📜 Index</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">Back To <strong>🧭 Home</strong></a></li>
        </ul>
      </header>
      <section class="markdown-body">

      {{ content }}

      </section>
    </div>
    <nav>
      <ul></ul>
    </nav>
    <div class="current-section">
      <a href="#top">🔼</a>
      {% if site.show_downloads %}
      <a href="{{ site.github.repository_url }}" class="code">🧭</a>
      <a href="{{ site.github.tar_url }}" class="tar">📜</a>
      <a href="{{ site.github.zip_url }}" class="zip">☕</a>
      {% endif %}
      <p class="name"></p>
    </div>
    <footer>
      <p>Copyright 2024 [Name] &mdash; <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a></p>
      <p>Powered by <a href="https://docs.github.com/en/pages">GitHub Pages</a> & <a href="https://docs.mathjax.org/en/latest/index.html">MathJax</a> &mdash; Theme by <a href="">Carbon</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
